# MA Crossing Finder

The purpose of this script is finding the asset(s) which price crossed a particular MA value. The WIG20, mWIG40 and sWIG80 are taken as an examples of tickers.

In [1]:
import pandas as pd
from yahoofinancials import YahooFinancials
import numpy as np
import os
from datetime import datetime

Read the tickers from file (MA_Cross_Data/WIG_tickers.txt).

In [2]:
with open("MA_Cross_Data/WIG_tickers.txt", "r") as file:
    three_wigs_tickers = file.read().splitlines()

In [3]:
len(three_wigs_tickers)

140

Get data from today. Make sure the market is already closed.

In [4]:
def get_current_prices_dict(tickers):
    yahoo_financials = YahooFinancials(tickers)
    return yahoo_financials.get_current_price()

In [5]:
today_price_dict = get_current_prices_dict(three_wigs_tickers)

In [6]:
len(today_price_dict)

140

In [7]:
def get_moving_avg_dict(tickers, ma=50):
    ''' At the moment only ma 50 and 200 is supported by yahoo finance '''
    yahoo_financials = YahooFinancials(tickers)
    if ma == 50:
        return yahoo_financials.get_50day_moving_avg()
    elif ma == 200:
        return yahoo_financials.get_200day_moving_avg()
    else:
        print(f'Wrong ma value {ma}. Only 50 and 200 are supported')

In [8]:
ma = 50
today_ma_dict = get_moving_avg_dict(three_wigs_tickers)

First step - check if prices are above or below ma. We will need to have two files per ma: 1. With yeasterday data (save every day after checking the changes) 2. Change log

In [19]:
ma_position_list = []
for ticker, price in  today_price_dict.items():
    ma_value = today_ma_dict[ticker]
    if price > ma_value:
        print(f'For {ticker} the price {price} is above ma {ma_value}')
        ma_position_list.append('above')
    elif price < ma_value:
        print(f'For {ticker} the price {price} is below ma {ma_value}')
        ma_position_list.append('below')
    else:
        print(f'Wow mate {ticker} is just on the line! {price} = {ma_value}')
        ma_position_list.append('equal')

For ALE.WA the price 22.575 is below ma 29.6525
For ACP.WA the price 76.5 is below ma 77.389
For CCC.WA the price 51.54 is below ma 55.5866
For CDR.WA the price 123.06 is below ma 161.9468
For CPS.WA the price 24.34 is below ma 27.4188
For DNP.WA the price 281.1 is below ma 309.11
For JSW.WA the price 69.6 is above ma 66.4794
For KGH.WA the price 139.05 is below ma 166.178
For LTS.WA the price 66.52 is above ma 60.682
For LPP.WA the price 8885 is below ma 10487.3
For MBK.WA the price 285.4 is below ma 351.608
For OPL.WA the price 6.68 is below ma 7.71654
For PEO.WA the price 92.94 is below ma 108.9524
For PCO.WA the price 41.48 is below ma 43.1985
For PGE.WA the price 9.658 is above ma 9.07252
For PGN.WA the price 6.21 is below ma 6.3872
For PKN.WA the price 74 is below ma 75.5464
For PKO.WA the price 31.62 is below ma 38.3712
For PZU.WA the price 30.71 is below ma 32.7624
For SPL.WA the price 258.2 is below ma 293.878
For 11B.WA the price 530 is below ma 537.33
For ALR.WA the price 34.49 is below ma 43.5882
For EAT.WA the price 17.5 is below ma 19.991
For ASB.WA the price 13.39 is above ma 12.4568
For ASE.WA the price 48.3 is below ma 49.134
For BFT.WA the price 590 is below ma 590.1
For BML.WA the price 3.25 is below ma 3.45822
For BDX.WA the price 208 is below ma 218.96
For CIE.WA the price 39.98 is below ma 40.9338
For CLN.WA the price 22.3 is below ma 24.775
For CMR.WA the price 172 is below ma 178.974
For DAT.WA the price 176.2 is above ma 173.9848
For DVL.WA the price 3.545 is above ma 3.2372
For DOM.WA the price 90 is below ma 98.07
For ENA.WA the price 9.23 is above ma 8.9118
For EUR.WA the price 12.46 is above ma 11.7306
For FMF.WA the price 2.766 is below ma 2.78808
For GPW.WA the price 38.62 is below ma 39.6348
For ATT.WA the price 40.78 is above ma 38.9532
For BHW.WA the price 57.1 is below ma 60.232
For HUG.WA the price 17.97 is below ma 18.27624
For ING.WA the price 195 is below ma 233.186
For CAR.WA the price 415.5 is below ma 424.99
For KER.WA the price 25.38 is below ma 30.8384
For KTY.WA the price 622 is above ma 602.94
For KRU.WA the price 247.8 is below ma 282.656
For LVC.WA the price 95 is below ma 95.268
For MAB.WA the price 29.8 is below ma 30.5582
For MRC.WA the price 80.78 is above ma 70.1348
For MIL.WA the price 4.99 is below ma 6.3486
For MBR.WA the price 343.5 is below ma 384.92
For NEU.WA the price 752 is below ma 777.84
For PEP.WA the price 66.5 is below ma 67.672
For PKP.WA the price 11.72 is below ma 12.0468
For PLW.WA the price 278.5 is below ma 306.93
For SLV.WA the price 75 is above ma 71.578
For TPE.WA the price 3.398 is above ma 2.8168
For TEN.WA the price 166 is below ma 193.55
For WPL.WA the price 96.9 is below ma 112.288
For XTB.WA the price 18.93 is above ma 18.5458
For ABE.WA the price 46 is below ma 46.206
For ACG.WA the price 28.9 is below ma 29.558
For ACT.WA the price 11.32 is below ma 12.1016
For AGO.WA the price 5.56 is below ma 6.7606
For AML.WA the price 69.6 is above ma 69.238
For AMB.WA the price 21 is below ma 22.224
For AMC.WA the price 90 is below ma 97.052
For ANR.WA the price 24.6 is below ma 25.504
For APT.WA the price 17.04 is below ma 18.6442
For ATC.WA the price 12.1 is above ma 9.7048
For ABS.WA the price 41.3 is below ma 41.56
For AST.WA the price 23.85 is below ma 24.024
For 1AT.WA the price 41.5 is above ma 40.706
For ATG.WA the price 3.9 is below ma 4.0532
For APR.WA the price 14.86 is above ma 14.6844
For BIO.WA the price 4.05 is below ma 4.1475
For BNP.WA the price 68.8 is below ma 72.52
For LWB.WA the price 54.95 is above ma 50.135
For BRS.WA the price 6.36 is above ma 3.3955
For BOS.WA the price 8.66 is above ma 8.4394
For BOW.WA the price 12.14 is above ma 9.9736
For BMC.WA the price 29.9 is above ma 26.084
For CTX.WA the price 153 is below ma 163.866
For CAV.WA the price 20.7 is below ma 21.31182
For CIG.WA the price 1.466 is below ma 1.5483
For CLE.WA the price 1.264 is below ma 1.4811
For COG.WA the price 5.99 is above ma 5.6521
For CMP.WA the price 48.9 is above ma 48.098
For CRJ.WA the price 661 is below ma 713.56
For DCR.WA the price 34.6 is above ma 34.564
For ECH.WA the price 3.37 is below ma 3.5703
For ENT.WA the price 27 is below ma 29.311
For ERB.WA the price 34.55 is below ma 40.522
For FRO.WA the price 28.6 is below ma 30.214
For FTE.WA the price 37.8 is below ma 39.008
For GTN.WA the price 0.994 is below ma 1.0576
For GNB.WA the price 0.208 is below ma 0.3308
For GRN.WA the price 18.42 is above ma 17.4948
For IMC.WA the price 17.75 is below ma 18.776
For INK.WA the price 35.7 is above ma 34.924
For KGN.WA the price 26 is below ma 26.044
For MCI.WA the price 18.75 is below ma 19.102
For MFO.WA the price 48.1 is above ma 45.862
For MRB.WA the price 3.315 is below ma 3.588
For MLS.WA the price 70.75 is above ma 68.53
For MOC.WA the price 26.4 is below ma 29.545
For NWG.WA the price 20 is below ma 20.62
For OND.WA the price 13.92 is below ma 18.06308
For OPN.WA the price 45.5 is below ma 48.584
For PCR.WA the price 91.4 is below ma 91.47
For PCF.WA the price 56.4 is below ma 57.4692
For PBX.WA the price 15.2 is below ma 16.241
For PHN.WA the price 13.7 is above ma 13.358
For PEN.WA the price 10.12 is above ma 8.12576
For PCE.WA the price 11.45 is below ma 11.715
For PXM.WA the price 3.56 is below ma 3.58776
For R22.WA the price 38.5 is below ma 43.824
For RFK.WA the price 1.796 is above ma 1.62516
For RBW.WA the price 22.65 is below ma 23.265
For RWL.WA the price 15.6 is below ma 16.137
For RVU.WA the price 39 is below ma 45.437
For SNK.WA the price 12.1 is below ma 13.5368
For SEN.WA the price 0.83 is below ma 0.878322
For SHO.WA the price 43.45 is below ma 51.5462
For SKA.WA the price 75.4 is below ma 77.72
For STX.WA the price 3.135 is below ma 3.3573
For STP.WA the price 337.5 is above ma 333.91
For SNT.WA the price 27.5 is below ma 27.98
For TIM.WA the price 35.7 is above ma 34.897
For TOR.WA the price 15.18 is above ma 13.952
For TOA.WA the price 5.8 is below ma 6.5056
For TRK.WA the price 1.614 is below ma 1.67984
For UNT.WA the price 45.2 is above ma 42.716
For VRC.WA the price 41 is below ma 42.8625
For VGO.WA the price 666 is below ma 689.52
For VOX.WA the price 38.5 is below ma 40.604
For VRG.WA the price 3.67 is below ma 3.7239
For WWL.WA the price 473 is above ma 472.66
For WLT.WA the price 6.93 is below ma 7.7928
For ZEP.WA the price 16.16 is below ma 16.7088

In [20]:
ma_position_list[:3]

['below', 'below', 'below']

Second step - create the data frame with current data.

In [21]:
price_ma_df = pd.DataFrame(columns=['Ticker', 'Price', 'MA', 'Position'])

In [22]:
price_ma_df['Ticker'] = today_price_dict.keys()
price_ma_df['Price'] = today_price_dict.values()
price_ma_df['MA'] = today_ma_dict.values()
price_ma_df['Position'] = ma_position_list

In [23]:
price_ma_df

     Ticker    Price        MA Position
0    ALE.WA   22.575   29.6525    below
1    ACP.WA   76.500   77.3890    below
2    CCC.WA   51.540   55.5866    below
3    CDR.WA  123.060  161.9468    below
4    CPS.WA   24.340   27.4188    below
..      ...      ...       ...      ...
135  VOX.WA   38.500   40.6040    below
136  VRG.WA    3.670    3.7239    below
137  WWL.WA  473.000  472.6600    above
138  WLT.WA    6.930    7.7928    below
139  ZEP.WA   16.160   16.7088    below

[140 rows x 4 columns]

Third step - read last session data.

In [14]:
last_price_ma_df = pd.read_csv(f'MA_Cross_Data/WIG_price_ma{ma}_position.csv')
# last_price_ma_df = price_ma_df.copy()
# last_price_ma_df.loc[1, 'Position'] = 'below'

Fourth step - compare the 'Position' columns and return the ticker for which it changed.

In [24]:
mask = (last_price_ma_df['Position'] != price_ma_df['Position'])

In [25]:
mask

0      False
1      False
2      False
3      False
4      False
       ...
135    False
136     True
137     True
138    False
139     True
Name: Position, Length: 140, dtype: bool

In [26]:
tickers_ser = price_ma_df[mask]['Ticker']

In [27]:
tickers_ser

23     ASB.WA
25     BFT.WA
31     DAT.WA
36     FMF.WA
52     PEP.WA
70     ABS.WA
74     APR.WA
104    MLS.WA
110    PCF.WA
136    VRG.WA
137    WWL.WA
139    ZEP.WA
Name: Ticker, dtype: object

Print the changes of the positions.

In [28]:
for i in tickers_ser.index:
    if (last_price_ma_df.loc[i]['Position'] == 'above') & (price_ma_df.loc[i]['Position'] == 'below'):
        print(price_ma_df.loc[i]['Ticker'], 'LOST the MA')
    elif (last_price_ma_df.loc[i]['Position'] == 'above') & (price_ma_df.loc[i]['Position'] == 'equal'):
        print(price_ma_df.loc[i]['Ticker'], 'DROPPED perfectly on the MA')
    elif (last_price_ma_df.loc[i]['Position'] == 'below') & (price_ma_df.loc[i]['Position'] == 'above'):
        print(price_ma_df.loc[i]['Ticker'], 'BEAT the MA')
    elif (last_price_ma_df.loc[i]['Position'] == 'below') & (price_ma_df.loc[i]['Position'] == 'equal'):
        print(price_ma_df.loc[i]['Ticker'], 'REACHED perfectly the MA')
    elif (last_price_ma_df.loc[i]['Position'] == 'equal') & (price_ma_df.loc[i]['Position'] == 'above'):
        print(price_ma_df.loc[i]['Ticker'], 'BEAT (from prev. eq) the MA')
    elif (last_price_ma_df.loc[i]['Position'] == 'equal') & (price_ma_df.loc[i]['Position'] == 'below'):
        print(price_ma_df.loc[i]['Ticker'], 'LOST (from prev. eq) the MA')

ASB.WA BEAT the MA
BFT.WA LOST the MA
DAT.WA BEAT the MA
FMF.WA LOST the MA
PEP.WA LOST the MA
ABS.WA LOST the MA
APR.WA BEAT the MA
MLS.WA BEAT the MA
PCF.WA LOST the MA
VRG.WA LOST the MA
WWL.WA BEAT the MA
ZEP.WA LOST the MA

Fifth step - Update the change log (if any changes).

In [34]:
change_log_df = pd.read_csv(f'MA_Cross_Data/WIG_price_ma{ma}_change_log.csv')
# change_log_df = pd.DataFrame(columns=['Index', 'Date', 'Ticker', 'Prev. Price', 'Curr. Price', 'Prev. MA', 'Curr. MA', 'Prev. Position', 'Curr. Position'])

In [36]:
today = datetime.today().strftime('%Y-%m-%d')
for idx in tickers_ser.index:
#     print(today, price_ma_df.loc[idx]['Ticker'])
#     print(last_price_ma_df.loc[idx]['Price'], price_ma_df.loc[idx]['Price'])
#     print(last_price_ma_df.loc[idx]['MA'], price_ma_df.loc[idx]['MA'])
#     print(last_price_ma_df.loc[idx]['Position'], price_ma_df.loc[idx]['Position'])
    change_log_df.loc[len(change_log_df)] = [change_log_df.last_valid_index()+1, today, price_ma_df.loc[idx]['Ticker'], 
                                             last_price_ma_df.loc[idx]['Price'], price_ma_df.loc[idx]['Price'],
                                             last_price_ma_df.loc[idx]['MA'], price_ma_df.loc[idx]['MA'], 
                                             last_price_ma_df.loc[idx]['Position'], price_ma_df.loc[idx]['Position']]

In [37]:
change_log_df

,Date,Ticker,Prev. Price,Curr. Price,Prev. MA,Curr. MA,Prev. Position,Curr. Position
0,2022-05-04,ASB.WA,12.41,13.390,12.45680,12.45680,below,above
1,2022-05-04,BFT.WA,602.00,590.000,590.10000,590.10000,above,below
2,2022-05-04,DAT.WA,173.70,176.200,173.98480,173.98480,below,above
3,2022-05-04,FMF.WA,2.80,2.766,2.78808,2.78808,above,below
4,2022-05-04,PEP.WA,68.80,66.500,67.67200,67.67200,above,below
5,2022-05-04,ABS.WA,41.80,41.300,41.56000,41.56000,above,below
6,2022-05-04,APR.WA,14.40,14.860,14.68440,14.68440,below,above
7,2022-05-04,MLS.WA,67.60,70.750,68.53000,68.53000,below,above
8,2022-05-04,PCF.WA,58.50,56.400,57.46920,57.46920,above,below
9,2022-05-04,VRG.WA,3.75,3.670,3.72390,3.72390,above,below
10,2022-05-04,WWL.WA,465.00,473.000,472.66000,472.66000,below,above
11,2022-05-04,ZEP.WA,16.80,16.160,16.70880,16.70880,above,below

Sixth step - Save both log files.

In [38]:
price_ma_df.to_csv(f'MA_Cross_Data/WIG_price_ma{ma}_position.csv')
change_log_df.to_csv(f'MA_Cross_Data/WIG_price_ma{ma}_change_log.csv')